/* === RESET & BASE === */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}

header, section {
  padding: 40px 20px;
  text-align: center;
}
.contato img{
        height: 300px;}

header {
  background-color: #000;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}

.logo img {
  height: 300px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.btn {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.red-bg {
  background-color: #b30000;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.service-box {
  background: #222;
  border-radius: 10px;
  padding: 15px;
  width: 140px;
  font-size: 14px;
}

.products img {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
}

.products p {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8;
}

footer {
  text-align: center;
  padding: 10px;
}
